.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-lbl {
  text-align: center; /* Esto centrará el texto horizontalmente dentro del div-lbl. */
  width: 80%;
}