.div-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #152139;
  color: white;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  box-shadow: #152139 0px 20px 25px -5px, #152139 0px 10px 10px -5px;
}

.div-lbl {
  text-align: center; /* Esto centrará el texto horizontalmente dentro del div-lbl. */
  width: 80%;
}

.welcome {
  color: white;
}