<img id="bk-f-0" src="assets/background/blanco.avif" alt="Fondo negro">
<div id="body">
  <!-- DIV que contiene las figuras del fondo -->
  <div class="contenedor-background">
    <img id="bk-f-1" src="assets/background/formas/formas-background-amarillo.png" alt="Formas color amarillo">
    <img id="bk-f-2" src="assets/background/formas/formas-background-azul.png" alt="Formas color amarillo">
    <img id="bk-f-3" src="assets/background/formas/formas-background-cyan.png" alt="Formas color amarillo">
    <!-- <img id="bk-f-4" src="assets/background/formas/formas-background-blanco.png" alt="Formas color amarillo"> -->
    <img id="bk-f-5" src="assets/background/formas/formas-background-naranjo.png" alt="Formas color amarillo">
  </div>

  <!-- DIV que tiene el logo DuocUC -->
  <div id="container-card" style="z-index: 200 ">
    <div id="div-logo-duocuc" style="bottom: -3%; left: 25%; z-index: 110">
      <ion-img id="logo-duocuc" src="assets/image/DuocUC-light.svg" alt="Instituto Profesional DuocUC"></ion-img>
    </div>
    
    <!-- Aquí empieza la card -->
    <ion-card  class="card ion-text-center" style="background-color: #152139; border-top-left-radius: 10%; border-top-right-radius: 10%; border-bottom-right-radius:10%; border-bottom-left-radius:10%; ">
      <ion-title  class="ion-padding-top ion-text-center">
        <h1 style="color: aliceblue; font-size: xx-large">
          Sistema de Asistencia <br /><span style="color: #ffbd59">Duoc</span>
          <span style="color: #004aad">UC</span>
        </h1>
      </ion-title>

      <!-- Bloque del formulario -->
      <ion-label style="text-align: center;">
        <p>Paso 2: responde la pregunta secreta <span *ngIf="usuario">{{ usuario.nombre }}</span></p>
      </ion-label>

      <div class="card-form">
        <!-- Fomulario del pregunta -->
        <ion-card-title *ngIf="usuario"  class="ion-text-center" color="light"> {{ usuario.preguntaSecreta }} </ion-card-title>
        <form>
          <ion-card-content id="card-form" class="ion-text-center">
            <div id="div-input-respuesta">
              <ion-input id="input-respuesta" type="text" label="Respuesta" [(ngModel)]="respuesta" name="respuesta"
                labelPlacement="floating"></ion-input>
            </div>
            <ion-button class="ion-padding-top " (click)="PaginaValidarRespuestaSecreta()"
              color="warning">Responder</ion-button>
          </ion-card-content>
        </form>
      </div>
      <!-- Fin del bloque del formulario -->
    </ion-card>
    <div>
      <!-- Botón pra volver al Login -->
      <div class="ion-text-center">
        <ion-button (click)="volver() ">
          <ion-icon slot="start" name="arrow-undo-circle-outline"></ion-icon> Volver
        </ion-button>
      </div>
    </div>
  </div>
  <!-- Fin de la card -->


  <!-- FOOTER -->
  <ion-footer style="background-color: #152139;" class="ion-text-center ion-padding-top">
    <ion-title class="letrasfooter" >
      Sistema de Asistencia <span
      style="color: #FFBD59;">Duoc</span><span style="color: #004AAD;">UC</span> <br>
      &copy; 2023 DuocUC
    </ion-title>
  </ion-footer>

</div>
<!-- Fin del body simulado -->