ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

#body{
  display: contents;
  background-color: rgb(28 33 32);
}

#header{
  background-color: #222428;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 10px; /* Espacio entre las columnas */
}

.columna {
  padding: 10px;
}

.contenedor-background{
  position: relative;
}

#bk-f-0{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
//Background figura #N°
#bk-f-1{
  position: absolute;
  width: 230px;
  left: -30px;
  z-index: 1;
}
#bk-f-2{
  position: absolute;
  width: 230px;
  right: -70px;
  z-index: 2;
}
#bk-f-3{
  position: absolute;
  width: 230px;
  left: 150px;
  top: 90px;
  transform: rotate(-300deg);
  z-index: 3;
}
#bk-f-4{
  position: absolute;
  width: 230px;
  left: -80px;
  top: 90px;
  transform: rotate(-250deg);
  z-index: 4;
}
#bk-f-5{
  position: absolute;
  width: 230px;
  right: -100px;
  top: 230px;
  transform: rotate(15deg);
  z-index: 5;
}

#container-logo-duocuc {
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#div-logo-duocuc {
  position: relative;
  width: 50%;
  height: 50px;
  background-color: #152139;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: #002138 0px 25px 20px -20px;

  #logo-duocuc {
    margin-top: 5%;
    width: 80%;
    height: auto;
  }
}

img, ion-img {
  pointer-events: none;
}

#card{
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-right-radius:10%;
  border-bottom-left-radius:10%;
  box-shadow: #152139 0px 22px 70px 4px;
  z-index: 100;
}

#div-input-respuesta{
  border-radius: 50px;
  background-color: rgb(128, 128, 128);
  text-align: left;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#input-respuesta{
  width: 90%;
  color: rgb(255, 255, 255);
}


.letrasfooter{
  color: white;
  padding: 2%;
}
