<!-- <img id="bk-f-0" src="assets/background/negro.jpg" alt="Fondo negro"> -->
<img id="bk-f-0" src="assets/background/blanco.avif" alt="Fondo blanco">


<!-- DIV que simula el body -->
<div id="body" scrollY="true">
  <!-- DIV que contiene las figuras del fondo -->
  <div class="contenedor-background">
    <img id="bk-f-1" src="assets/background/formas/formas-background-amarillo.png" alt="Formas color amarillo">
    <img id="bk-f-2" src="assets/background/formas/formas-background-azul.png" alt="Formas color amarillo">
    <img id="bk-f-3" src="assets/background/formas/formas-background-cyan.png" alt="Formas color amarillo">
    <img id="bk-f-5" src="assets/background/formas/formas-background-naranjo.png" alt="Formas color amarillo">
  </div>

  <!-- DIV que tiene el logo DuocUC -->
  <div id="container-logo-duocuc">
    <div id="div-logo-duocuc">
      <ion-img id="logo-duocuc" src="assets/image/DuocUC-light.svg" alt="Instituto Profesional DuocUC"></ion-img>
    </div>
  </div>

  <!-- Aquí empieza la card -->
  <ion-card [ngClass]="{'card-error': error}" class="card ion-text-center">
    <ion-title class="ion-padding-top ion-text-center">
      <h1 style="color: aliceblue; font-size: xx-large;">Sistema de Asistencia <br><span
          style="color: #FFBD59;">Duoc</span><span style="color: #004AAD;">UC</span></h1>
      <ion-label>
        <p>¡Bienvenido!</p>
      </ion-label>
    </ion-title>

    <div id="card-form">
      <!-- Fomulario del login -->
      <form id="form">
        <div id="div-input-correo">
          <ion-input id="input-correo" name="correo" label="Correo" labelPlacement="floating" type="text"
            [(ngModel)]="usuario.correo"></ion-input>
        </div>
        <div id="div-input-password">
          <ion-input id="input-password" name="password" label="Contraseña" labelPlacement="floating" type="password"
            [(ngModel)]="usuario.password"></ion-input>
        </div>
        <ion-button  class="botoningresarsesion" shape="round" (click)="ingresar()" color="warning">Ingresar</ion-button>

      </form>

      <!-- Botón para recuperar contraseña -->
      <ion-label >
        ¿Olvidaste de tu contraseña?
      </ion-label>
      <ion-label>
        <ion-button class="botonrecuperarcontraseña" id="btn-recuperar" (click)="ingresarcorreorecuperacion()" color="warning">Recuperar
          contraseña</ion-button>
      </ion-label>


    </div>
  </ion-card>
  <!-- Fin de la card -->


  <!-- FOOTER -->
  <ion-footer style="background-color: #152139;" class="ion-text-center ion-padding-top">
      <ion-title class="letrasfooter" >
        Sistema de Asistencia <span
        style="color: #FFBD59;">Duoc</span><span style="color: #004AAD;">UC</span> <br>
        &copy; 2023 DuocUC
      </ion-title>
  </ion-footer>
</div>
<!-- Fin del body simulado -->