.fullscreen {
  border: 0;
  background-color: #152139;
}

.div-btnPublicar {
  text-align: center;
}

.lblPub {
  border-bottom: 1px solid #000000;
}

.custom-card {
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.head-card {
  width: 100%;
  background-color: #f8b31c;
  border-bottom: 1px solid #000000;

  ion-avatar {
    height: 1.2em;
    width: 1.2em;
    margin-right: 3px;
  }

  .author-info {
    margin-left: 5px;
    font-size: 0.8em;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .card-id {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #152139;
    color: #ffffff;
    font-size: .6em;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .card-title {
    margin-left: 5px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.card-content {
  margin-top: 10px;
}

.card-op {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f8b31c;
  border-top: 1px solid #000000;
}

.action-buttons ion-button {
  margin-right: 8px;
}

.action-buttons ion-icon {
  font-size: 1.2em;
}