<ion-card-title>Datos de la Clase</ion-card-title>
<table class="tabla">
  <tr>
    <td class="borde-celda">Bloque de inicio: </td>
    <br>
    <td class="borde-celda">{{ asistencia.bloqueInicio }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Bloque de término: </td>
    <br>
    <td class="borde-celda">{{ asistencia.bloqueTermino }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Día: </td>
    <br>
    <td class="borde-celda">{{ asistencia.dia }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Hora de inicio: </td>
    <br>
    <td class="borde-celda">{{ asistencia.horaInicio }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Hora de término: </td>
    <br>
    <td class="borde-celda">{{ asistencia.horaFin }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Sigla de asignatura: </td>
    <br>
    <td class="borde-celda">{{ asistencia.idAsignatura }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Nombre de asignatura: </td>
    <br>
    <td class="borde-celda">{{ asistencia.nombreAsignatura }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Nombre del profesor: </td>
    <br>
    <td class="borde-celda">{{ asistencia.nombreProfesor }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Sección: </td>
    <br>
    <td class="borde-celda">{{ asistencia.seccion }}</td>
  </tr>
  <tr>
    <td class="borde-celda">Sede: </td>
    <br>
    <td class="borde-celda">{{ asistencia.sede }}</td>
  </tr>
</table>