<div class="container">
  <br><br>
  <ion-card-title class="titulo">Datos de la Clase</ion-card-title>
  <br>
  <table class="tabla">
    <tr>
      <td class="celda-titulo">Bloque de inicio: </td>
      <td class="celda-dato">{{ asistencia.bloqueInicio }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Bloque de término: </td>
      <td class="celda-dato">{{ asistencia.bloqueTermino }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Día: </td>
      <td class="celda-dato">{{ asistencia.dia }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Hora de inicio: </td>
      <td class="celda-dato">{{ asistencia.horaInicio }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Hora de término: </td>
      <td class="celda-dato">{{ asistencia.horaFin }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Sigla de asignatura: </td>
      <td class="celda-dato">{{ asistencia.idAsignatura }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Nombre de asignatura: </td>
      <td class="celda-dato">{{ asistencia.nombreAsignatura }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Nombre del profesor: </td>
      <td class="celda-dato">{{ asistencia.nombreProfesor }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Sección: </td>
      <td class="celda-dato">{{ asistencia.seccion }}</td>
    </tr>
    <tr>
      <td class="celda-titulo">Sede: </td>
      <td class="celda-dato">{{ asistencia.sede }}</td>
    </tr>
  </table>
</div>