<ion-header [translucent]="true">

  <div class="contenedor-background">
    <img id="bk-f-1" src="assets/background/formas/formas-background-amarillo.png" alt="Formas color amarillo">
    <img id="bk-f-2" src="assets/background/formas/formas-background-azul.png" alt="Formas color azul">
    <img id="bk-f-3" src="assets/background/formas/formas-background-cyan.png" alt="Formas color cyan">
    <img id="bk-f-5" src="assets/background/formas/formas-background-naranjo.png" alt="Formas color naranjo">
    <img id="bk-f-6" src="assets/background/formas/formas-background-amarillo.png" alt="Formas color amarillo">
    <img id="bk-f-7" src="assets/background/formas/formas-background-azul.png" alt="Formas color azul">
    <img id="bk-f-8" src="assets/background/formas/formas-background-cyan.png" alt="Formas color cyan">
    <img id="bk-f-9" src="assets/background/formas/formas-background-naranjo.png" alt="Formas color naranjo">
  </div>


  <ion-toolbar>
    <ion-header class="header">
      <div class="header-content">
        <div class="header-image">
          <ion-img id="logo-duocuc" src="assets/image/DuocUC-light.svg" alt="Instituto Profesional DuocUC"
            style="margin-top: 10px;"></ion-img>
        </div>
        <div class="header-title">
          <ion-title id="titulo" #titulo color="light">
            Sistema de Asistencia <br />DuocUC
          </ion-title>
        </div>
      </div>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" color="light">
  <ion-card class="card_componente" color="light">

    <ion-card-content class="componente-body">
      <ion-toolbar class="container-componente">
        <ion-segment [(ngModel)]="componente_actual" (ngModelChange)="cambiarComponente($event)">
          <ion-segment-button class="btnComponente" value="qr">
            <ion-label>QR</ion-label>
          </ion-segment-button>
          <ion-segment-button class="btnComponente" value="miclase">
            <ion-label>Mi clase</ion-label>
          </ion-segment-button>
          <ion-segment-button class="btnComponente" value="foro">
            <ion-label>Foro</ion-label>
          </ion-segment-button>
          <ion-segment-button class="btnComponente" value="misdatos">
            <ion-label>Mis datos</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>
      <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>
      <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>
      <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-toolbar color="white">
  <ion-title class="ion-text-center ion-text">
    <ion-button (click)="preguntaCerrarSesion()" color="warning" shape="round">
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      Cerrar sesión</ion-button>
  </ion-title>
</ion-toolbar>
<ion-footer style="background-color: #152139;" class="ion-text-center ion-padding-top">
  <ion-title class="letrasfooter">
    Sistema de Asistencia<br>
    &copy; 2023 <span style="color: #FFBD59;">Duoc</span><span style="color: #004AAD;">UC</span>
  </ion-title>
</ion-footer>