.card {
  margin-top: 2%;
  background-color: #152139;
  border: 5px solid #152139;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  box-shadow: #152139 0px 20px 25px -5px, #152139 0px 10px 10px -5px;
}

.welcome {
  text-align: center;
  color: white !important;
}

.item-nombre {
  margin: 0;
}

.container-div-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-card {
  transition: 0.5s;
}

.div-input {
  width: 90%;
  border-radius: 50px;
  background-color: rgb(128, 128, 128);
  text-align: left;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  width: 90%;
  color: rgb(255, 255, 255);
}