ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

#body{
  display: contents;
  background-color: rgb(28 33 32);
}

#header{
  background-color: #222428;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 10px; /* Espacio entre las columnas */
}

.columna {
  padding: 10px;
}

.contenedor-background{
  position: relative;
}

#bk-f-0{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
//Background figura #N°
#bk-f-1{
  position: absolute;
  width: 230px;
  left: -30px;
  z-index: 1;
}
#bk-f-2{
  position: absolute;
  width: 230px;
  right: -70px;
  z-index: 2;
}
#bk-f-3{
  position: absolute;
  width: 230px;
  left: 150px;
  top: 90px;
  transform: rotate(-300deg);
  z-index: 3;
}
#bk-f-4{
  position: absolute;
  width: 230px;
  left: -80px;
  top: 90px;
  transform: rotate(-250deg);
  z-index: 4;
}
#bk-f-5{
  position: absolute;
  width: 230px;
  right: -100px;
  top: 230px;
  transform: rotate(15deg);
  z-index: 5;
}




.imagencorrecta {
  /* Establecer un ancho y alto para la imagen */
  width: 200px;
  height: 150px;
  /* Agregar un borde alrededor de la imagen */  
  /* Agregar margen y centrar la imagen horizontalmente */
  margin: 0 auto;

  /* Aplicar bordes redondeados */
  border-radius: 10px; /* Puedes ajustar el valor según lo desees */

  /* Agregar sombra */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


@media (min-width: 700px) {
  #div-logo-duocuc-700-min {
    top: 5%;
    position: absolute;
    left: 37%;
    width: 30%;
    height: 10%;
    background-color: #002138;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: #002138 0px 25px 20px -20px;
    z-index: 300;
  }
  #logo-duocuc-700-min {
    margin-left: 10%;
    width: 80%;
    z-index: 301;
  }
  #div-logo-duocuc {
    position: absolute;
    #logo-duocuc{
      visibility: hidden;
    }
  }

  .card {
    top: 10%;
    background-color: #152139;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: #152139 0px 22px 70px 4px;
    transition: 0.5s;
    z-index: 100;
  }

}

@media (max-width: 700px) {
  #container-logo-duocuc {
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  #div-logo-duocuc {
    position: relative;
    width: 50%;
    height: 60px;
    background-color: #152139;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    #logo-duocuc {
      margin-top: 5%;
      width: 80%;
      height: auto;
    }
  }
  #div-logo-duocuc-700-min{
    visibility: hidden;
    position: absolute;
  }
  #logo-duocuc-700-min{
    visibility: hidden;
    position: absolute;
  }
}

img, ion-img {
  pointer-events: none;
}

.card {
  background-color: #152139;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  // box-shadow: #152139 0px 22px 70px 4px;
  z-index: 100;
  transition: .5s;
  z-index: 100;
}

#div-input-correo{
  border-radius: 50px;
  background-color: rgb(128, 128, 128);
  text-align: left;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#input-correo{
  width: 90%;
  color: wheat;
}