<ion-header>
  <!-- Aquí empieza la card -->
  <ion-toolbar style="color: #152139;">
    <ion-title><ion-title class="ion-padding-top ion-text-center">
        <h1 style="color: aliceblue; font-size: x-large;">Sistema de Asistencia</h1>
      </ion-title></ion-title>
  </ion-toolbar>
  <div id="div-logo-duocuc" style="left: 25%; z-index: 110;">
    <ion-img id="logo-duocuc" src="assets/image/DuocUC-light.svg" alt="Instituto Profesional DuocUC"></ion-img>
  </div>
  <!-- Fin de la card -->
</ion-header>
<br>

<p class="ion-text-center">¡Asistencia registrada!</p>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulodatosdeasignatura" >DATOS DE LA ASIGNATURA</ion-card-title>
    </ion-card-header>
    <ion-card-content class="borde">
      <br />

      <table>
        <tr>
          <td class="ancho_columna_titulos">Bloque de Inicio</td>
          <td>{{bloqueInicio}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Bloque de Término</td>
          <td>{{bloqueTermino}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Día</td>
          <td>{{dia}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Hora de Fin</td>
          <td>{{horaFin}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Hora de Inicio</td>
          <td>{{horaInicio}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Sigla</td>
          <td>{{idAsignatura}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Nombre de Asignatura</td>
          <td>{{nombreAsignatura}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Nombredel Profesor</td>
          <td>{{nombreProfesor}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Sección</td>
          <td>{{seccion}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Sede</td>
          <td>{{sede}}</td>
        </tr>
        <tr></tr>
      </table>
    </ion-card-content>
  </ion-card>
  <!-- <ion-button color="danger" (click)="cerrarSesion()" >Cerrar Sesion</ion-button> -->
  
</ion-content>

<ion-toolbar color="white">
  <ion-title class="ion-text-center ion-text">
    <ion-button (click)="volver()" color="danger">
      <ion-icon slot="start" name="arrow-undo-circle-outline"></ion-icon> Cerrar sesión
    </ion-button>
  </ion-title>
</ion-toolbar>

<ion-footer>
  <ion-toolbar color="white">
    <ion-title class="ion-text-center ion-text">
      Sistema de Asistencia DuocUC <br>
      &copy; 2023 DuocUC
    </ion-title>
  </ion-toolbar>
</ion-footer>