<img id="bk-f-0" src="assets/background/blanco.avif" alt="Fondo blanco">
<div id="body">
  <div class="contenedor-background">
    <img id="bk-f-1" src="assets/background/formas/formas-background-amarillo.png" alt="Formas color amarillo">
    <img id="bk-f-2" src="assets/background/formas/formas-background-azul.png" alt="Formas color amarillo">
    <img id="bk-f-3" src="assets/background/formas/formas-background-cyan.png" alt="Formas color amarillo">
    <!-- <img id="bk-f-4" src="assets/background/formas/formas-background-blanco.png" alt="Formas color amarillo"> -->
    <img id="bk-f-5" src="assets/background/formas/formas-background-naranjo.png" alt="Formas color amarillo">
  </div>
<br>
  <!-- //////////////HEADER//////////// -->
  <ion-header class="header">
    <div class="header-content">
      <div class="header-image">
        <ion-img id="logo-duocuc" src="assets/image/DuocUC-light.svg" alt="Instituto Profesional DuocUC" style="margin-top: 10px;"></ion-img>
      </div>
      <div class="header-title">
        <ion-title #titulo>
          Sistema de Asistencia <br /><span style="color: #ffbd59">Duoc</span>
        </ion-title>
      </div>
    </div>
  </ion-header>
  <br>
  
  <!-- Contenido de datos de la Asignatura -->
  <ion-content style="z-index: 200;" >
    <ion-card class="card ion-text-center"  style="background-color: #152139; border-top-left-radius: 10%; border-top-right-radius: 10%; border-bottom-right-radius:10%; border-bottom-left-radius:10%;">
      <ion-card-header>
        <ion-card-title class="titulodatosdeasignatura" style="color: white;">DATOS DE LA ASIGNATURA</ion-card-title>
        <p class="ion-text-center">¡Asistencia registrada!</p>
      </ion-card-header>
      <ion-card-content class="borde" >
        <br />
        <table class="datostabla">
          <tr>
            <td class="ancho_columna_titulos">Bloque de Inicio</td>
            <td>{{bloqueInicio}}</td>
          </tr>
          <tr></tr>
          <tr>
            <td>Bloque de Término</td>
            <td>{{bloqueTermino}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Día</td>
            <td>{{dia}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Hora de Inicio</td>
            <td>{{horaInicio}}</td>
          </tr>
          <tr></tr>
          <tr>
            <td>Hora de Fin</td>
            <td>{{horaFin}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Sigla</td>
            <td>{{idAsignatura}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Nombre de Asignatura</td>
            <td>{{nombreAsignatura}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Nombre del Profesor</td>
            <td>{{nombreProfesor}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Sección</td>
            <td>{{seccion}}</td>
          </tr>

          <tr></tr>
          <tr>
            <td>Sede</td>
            <td>{{sede}}</td>
          </tr>
          <tr></tr>
        </table>

        <ion-title class="ion-text-center ion-text" style="padding-top: 30%;">
          <ion-button (click)="preguntaCerrarSesion()" color="danger">
            <ion-icon slot="start" name="exit-outline"></ion-icon> 
            Cerrar sesión</ion-button>
        </ion-title>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <!-- Cierre de contenido datos Asignatura-->
</div>

<!-- <ion-toolbar color="white">
  <ion-title class="ion-text-center ion-text">
    <ion-button (click)="preguntaCerrarSesion()" color="danger">
      <ion-icon slot="start" name="exit-outline"></ion-icon> 
      Cerrar sesión</ion-button>
  </ion-title>
</ion-toolbar> -->

<ion-footer style="background-color: #152139;" class="ion-text-center ion-padding-top">
  <ion-title class="letrasfooter" >
    Sistema de Asistencia <span
    style="color: #FFBD59;">Duoc</span><span style="color: #004AAD;">UC</span> <br>
    &copy; 2023 DuocUC
  </ion-title>
</ion-footer>