<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Lectura para QR</ion-title>
  </ion-toolbar>
</ion-header>
<br />

<ion-content>
  <ion-button
    *ngIf="!escaneando"
    (click)="comenzarEscaneoQR()"
    expand="full"
    shape="round"
  >
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button
    *ngIf="escaneando"
    (click)="detenerEscaneoQR()"
    expand="full"
    shape="round"
  >
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>



  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulodatosdeasignatura" >DATOS DE LA ASIGNATURA</ion-card-title>
    </ion-card-header>
    <ion-card-content class="borde">
      <br />

      <table>
        <tr>
          <td class="ancho_columna_titulos">Bloque de Inicio</td>
          <td>{{bloqueInicio}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Bloque de Término</td>
          <td>{{bloqueTermino}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Día</td>
          <td>{{dia}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Hora de Fin</td>
          <td>{{horaFin}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Hora de Inicio</td>
          <td>{{horaInicio}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Sigla</td>
          <td>{{idAsignatura}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Nombre de Asignatura</td>
          <td>{{nombreAsignatura}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Nombredel Profesor</td>
          <td>{{nombreProfesor}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Sección</td>
          <td>{{seccion}}</td>
        </tr>

        <tr></tr>
        <tr>
          <td>Sede</td>
          <td>{{sede}}</td>
        </tr>
        <tr></tr>
      </table>

      <br /><br />
      Escaneando: {{ escaneando }}
      <br />
    </ion-card-content>
  </ion-card>
  <ion-button color="danger" (click)="cerrarSesion()" >Cerrar Sesion</ion-button>
  
</ion-content>
