/* Estilos generales para el contenido */
ion-content {
    padding: 20px;
  
    @media (max-width: 767px) {
      padding: 10px;
    }
  }
  
  /* Estilos para la barra de navegación */
  ion-toolbar[color="primary"] {
    --ion-toolbar-height: 60px; /* Ajusta la altura de la barra de navegación */
  
    @media (max-width: 767px) {
      --ion-toolbar-height: 50px; /* Ajusta la altura de la barra de navegación en dispositivos móviles */
    }
  }
  
  /* Estilos para los botones */
  ion-button {
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
  
    @media (max-width: 767px) {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
  
  td {
    padding: 12px;
  
    @media (max-width: 767px) {
      padding: 8px;
    }
  }
  
  /* Estilos personalizados */
  .titulodatosdeasignatura {
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .borde {
    border: 2px solid #007bff;
    padding: 15px;
    border-radius: 10px;
  }
  
  .ancho_columna_titulos {
    width: 200px;
  
    @media (max-width: 767px) {
      width: auto;
    }
  }
  
  /* Estilos para el título en dispositivos móviles */
  @media (max-width: 767px) {
    ion-title {
      font-size: 20px;
    }
  }
  
  /* Estilos para el botón de cierre de sesión en dispositivos móviles */
  ion-buttons[slot="end"] {
    @media (max-width: 767px) {
      ion-button {
        font-size: 16px;
        padding: 8px 16px;
      }
    }
  }
  